{%extends 'myblog/layout.html' %}
{% load crispy_forms_tags %}
{%block content%}

<img src="{{user.profile.image.url}}" style='border-radius:50%;height:60px;width:60px;' alt='User photo'>
<p>Welcome Back <b>{{user.username}}</b> </p>
<p class="card-text"><small class="text-muted">{{user.email}} </small></p>
<p class="card-text" style='color:blue;'>Update Profile</p>
<form method="POST" enctype='multipart/form-data' >
  {% csrf_token %}
      {{u_form|crispy}}
      {{p_form|crispy}}
    <button type="submit" class="btn btn-primary">Update</button> 
  </form>
{% endblock %}
